html, body {
    margin: 0;
    height: 100vh;
    font-family: "Raleway", sans-serif;      
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#holder {
  min-height: 100%;
  position: relative;
}

body {
  background: rgb(95, 136, 198);
}

#pretitle, #posttitle, #title, .link {
  font-size: 32px;

  width: 100%;
  text-align: center;
  color: rgb(198, 236, 237);

  opacity: 0;
}

#title {
  font-size: 200px;
  opacity: 1;
}

#links {
  text-align: center;
  opacity: 0;

  position: absolute;
  bottom: 15%;

  margin: 0 auto;
  left: 0%;
  right: 0%;  

  display: flex;
  justify-content: center;
}

#homelink, #applink {
  border: 1px solid rgb(198, 236, 237);
  width: 100vw;

  font-size: 32px;
  color: rgb(198, 236, 237);
  border-radius: 5px;
  
  margin: 25px;
}

#homelink {
  flex: 0 0 25%;
}

#applink {
  flex: 0 0 25%;
}

#footer {
  background: rgb(8, 167, 75);
  height: 15%;
  width: 100vw;
  bottom: 0px;
  position: absolute;
  
  display: flex;
  align-items: flex-end;
}