html, body {
    margin: 0;
    height: 100vh;
    font-family: "Raleway", sans-serif;      
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background: rgb(95, 136, 198);
}

#pretitle, #posttitle, #title {
  font-size: 32px;

  width: 100%;
  text-align: center;
  color: rgb(198, 236, 237);

  opacity: 0;
}

#title {
  font-size: 128px;
}

#links {
  position: relative;
  top: 25%; 
  text-align: center;

  opacity: 0;
}


#footer {
  background: rgb(8, 167, 75);
  height: 15%;
  width: 100%;
  bottom: 0px;
  position: absolute;
  
  display: flex;
  align-items: flex-end;
}