html, body {
    margin: 0;
    height: 100%;
}

a { 
  text-decoration: none; 
}

a:hover { 
  text-decoration: underline; 
}

body {
  background: -webkit-linear-gradient(rgba(4, 13, 28, 0.75), rgba(7, 24, 53, 0.75)), url(spacebackground.jpg);
  background: -moz-linear-gradient(rgba(4, 13, 28, 0.75), rgba(7, 24, 53, 0.75)), url(spacebackground.jpg);
  background: -o-linear-gradient(rgba(4, 13, 28, 0.75), rgba(7, 24, 53, 0.75)), url(spacebackground.jpg);
  background: linear-gradient(rgba(4, 13, 28, 0.75), rgba(7, 24, 53, 0.75)), url(spacebackground.jpg);
}

.title, .pretitle, .posttitle {
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;

  font-family: "Raleway", sans-serif;
  color: #f5f5f5;
}

.pretitle, .posttitle {
  font-size: 48px;
}

.title {
  height: 80%;
  font-size: 128px;
}

.pretitle {
  height: 55%;
}

.posttitle {
  height: 105%;
}